<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449387755237-b0r1p1vkf9eb60k5po3fgu1tjfci2h7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449387755237-b0r1p1vkf9eb60k5po3fgu1tjfci2h7d</string>
	<key>API_KEY</key>
	<string>AIzaSyC8o0vW-IVQTmpfLti3z--wRiO97dZuLCk</string>
	<key>GCM_SENDER_ID</key>
	<string>449387755237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seldatinc.solocate.core.live</string>
	<key>PROJECT_ID</key>
	<string>solocate-core</string>
	<key>STORAGE_BUCKET</key>
	<string>solocate-core.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449387755237:ios:fbc7b10cc9de33b2a0c60c</string>
	<key>DATABASE_URL</key>
	<string>https://solocate-core.firebaseio.com</string>
</dict>
</plist>