<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008983819092-5fjguqphgngui5ias19pncgfhv3g7j0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008983819092-5fjguqphgngui5ias19pncgfhv3g7j0f</string>
	<key>API_KEY</key>
	<string>AIzaSyCsliMbU91SYs7GdA80_P99uIIWJaQUO0U</string>
	<key>GCM_SENDER_ID</key>
	<string>1008983819092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seldatinc.solocate.gadot.debug</string>
	<key>PROJECT_ID</key>
	<string>solocate-gadot</string>
	<key>STORAGE_BUCKET</key>
	<string>solocate-gadot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008983819092:ios:d9cec90d5270f2820b3ec1</string>
	<key>DATABASE_URL</key>
	<string>https://solocate-gadot.firebaseio.com</string>
</dict>
</plist>