<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>658501017557-3f7fglajo4ejqa0q3beijsq7olilcjgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658501017557-3f7fglajo4ejqa0q3beijsq7olilcjgb</string>
	<key>API_KEY</key>
	<string>AIzaSyDldOUOSvRR6qaKQJA6GSiy6o43sb-7qpU</string>
	<key>GCM_SENDER_ID</key>
	<string>658501017557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seldatinc.dms.directmail</string>
	<key>PROJECT_ID</key>
	<string>directmail-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>directmail-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658501017557:ios:57d84ce2d9c82b00</string>
	<key>DATABASE_URL</key>
	<string>https://directmail-dev.firebaseio.com</string>
</dict>
</plist>