<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL_DEV</key>
	<string>https://apigw2.seldatdirect.com/dev/dms-customization/api/</string>
	<key>BASE_URL_STAGING</key>
	<string>https://apigw2.seldatdirect.com/demo/dms-customization/api/</string>
	<key>BASE_URL_PRODUCT</key>
	<string>https://apigw2.seldatdirect.com/live/dms-customization/api/</string>
	<key>BASE_URL_GOOGLE_MAP</key>
	<string>https://maps.googleapis.com/maps/api</string>
	<key>TrackingTimeInterval</key>
	<integer>60</integer>
	<key>ReloadRouteTimeInterval</key>
	<integer>60</integer>
	<key>AutoRefetchRouteList</key>
	<false/>
	<key>DistanceSubmitLocation</key>
	<integer>50</integer>
	<key>UseChooseEnvironment</key>
	<true/>
</dict>
</plist>
