//
//  Staging.xcconfig
//  DMSDriver
//
//  Created by machnguyen_uit on 8/17/18.
//  Copyright © 2018 machnguyen_uit. All rights reserved.
//

#include "Base.xcconfig"

// User-Defined
APP_NAME = Gadot Staging
BUILD_SCHEME = Staging
SERVER = staging
APP_BUNDLE_ID = com.seldatinc.dms.gadot.staging


