<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>https://apigw.seldatdirect.com/dev/dms/99cents/api</string>
	<key>BASE_URL_DEV</key>
	<string>https://apigw.seldatdirect.com/dev/dms/99cents/api</string>
	<key>BASE_URL_GOOGLE_MAP</key>
	<string>https://maps.googleapis.com/maps/api</string>
	<key>TrackingTimeInterval</key>
	<integer>60</integer>
</dict>
</plist>
