<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>58728671764-amge3qus1521vct5dsags9mp2jns0rs7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58728671764-amge3qus1521vct5dsags9mp2jns0rs7</string>
	<key>API_KEY</key>
	<string>AIzaSyAK0gYgH0oKKiVzW3bq_pEMyFXiUvNy_BE</string>
	<key>GCM_SENDER_ID</key>
	<string>58728671764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seldatinc.DMSDriver</string>
	<key>PROJECT_ID</key>
	<string>smds-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>smds-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58728671764:ios:5ad3fe401fd532f0</string>
	<key>DATABASE_URL</key>
	<string>https://smds-dev.firebaseio.com</string>
</dict>
</plist>