<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>639553443473-3go6i4jf9mfusd3hq53f6vbuofrccodo.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.639553443473-3go6i4jf9mfusd3hq53f6vbuofrccodo</string>
        <key>API_KEY</key>
        <string>AIzaSyAXkS-ACX8di87ITijNP-TjIWrfXYQtb2k</string>
        <key>GCM_SENDER_ID</key>
        <string>639553443473</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.seldatinc.DMSDriver</string>
        <key>PROJECT_ID</key>
        <string>sdms-staging</string>
        <key>STORAGE_BUCKET</key>
        <string>sdms-staging.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true></true>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <false></false>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:639553443473:ios:5ad3fe401fd532f0</string>
        <key>DATABASE_URL</key>
        <string>https://sdms-staging.firebaseio.com</string>
    </dict>
</plist>
