<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOGIN</key>
	<string>/auth/v1/login</string>
	<key>FORGET_PASSWORD</key>
	<string>/master-service/v1/forgot-password</string>
	<key>LOGOUT</key>
	<string>/auth/v1/user/logout</string>
	<key>GET_ORDERS</key>
	<string>/backend-api/driver/v1/orders</string>
	<key>GET_ORDER_BY_DATE</key>
	<string>/backend-api/v1/routes/get-routes-by-date</string>
	<key>GET_ROUTES_BY_DATE</key>
	<string>/backend-api/v1/routes/get-routes-by-date</string>
	<key>GET_ORDER_DETAIL</key>
	<string>/backend-api/v1/orders/%@</string>
	<key>UPDATE_ORDER_STATUS</key>
	<string>/backend-api/v1/orders/%@/%@</string>
	<key>UPLOAD_SIGNATURE</key>
	<string>/backend-api/v1/orders/add-picture/%@</string>
	<key>UPDATE_SEQUENCE</key>
	<string>/backend-api/v1/routes/update-sequence</string>
	<key>UPLOAD_FILES</key>
	<string>/backend-api/v1/orders/add-picture/%@</string>
	<key>GET_REASON_LIST</key>
	<string>/backend-api/v1/reason/%@</string>
	<key>ADD_NOTE</key>
	<string>/backend-api/v1/orders/%@/notes</string>
	<key>UPDATE_ORDER_ITEM_STATUS</key>
	<string>/backend-api/v1/orders/update-status-items/%@/%@</string>
	<key>UPDATE_BARCODE_ORDER_ITEM</key>
	<string>/backend-api/v1/orders/update-barcode-items/%@</string>
	<key>ADD_NEW_ORDER_ITEM</key>
	<string>/backend-api/v1/mobile/orders/%@/items</string>
	<key>UPDATE_TOKEN_FCM</key>
	<string>/backend-api/v1/notificationtokens/notification</string>
	<key>CREATE_NEW_MESSAGE</key>
	<string>/backend-api/v1/messages</string>
	<key>GET_COUNT_MESSAGE_NUMBER</key>
	<string>/backend-api/v1/messages/count-message?type_message=%@&amp;route_id=%@</string>
	<key>GET_LIST_NOTIFICATIONS</key>
	<string>/backend-api/v1/messages/list-message?page=1&amp;limit=100&amp;route_id=%@</string>
	<key>GET_ROUTE_DETAIL</key>
	<string>/backend-api/v1/routes/%@</string>
	<key>READ_MESSAGE</key>
	<string>/backend-api/v1/messages/%@</string>
	<key>CHECK_TOKEN</key>
	<string>authentication/users/token</string>
	<key>CHANGE_PASSWORD</key>
	<string>/master-service/v1/users/change-password</string>
	<key>RESET_PASSWORD_URL</key>
	<string>/#/reset-password</string>
	<key>GET_ALERT_DETAIL</key>
	<string>/backend-api/v1/alert/my-list</string>
	<key>RESOLVE_ALERT</key>
	<string>/backend-api/v1/alert-management/%@?comment=%@</string>
</dict>
</plist>
